pre,
code {
  --code-text: var(--text);
  --code-comment: rgb(78, 92, 107);
  --code-punctuation: #999;
  --code-keyword: #6822d8;
  --code-title: rgb(212, 0, 117);
  --code-variable: #01a154;
  --code-background: #fcfcfd;
}

@media (prefers-color-scheme: dark) {
  pre,
  code {
    --code-text: var(--text);
    --code-comment: rgb(176, 191, 206);
    --code-punctuation: #999;
    --code-keyword: #9166ff;
    --code-title: rgb(255, 0, 140);
    --code-variable: #5fe3b9;
    --code-background: #1e1e20;
  }
}

pre,
code {
  font-family: monospace;
  color: var(--code-text);
  background-color: var(--code-background);
  font-size: 0.9em;
  text-align: left;
  white-space: pre;
  line-height: 1.5;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  border-radius: 0.3em;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre {
  padding: 1em;
  margin: 1.5em 0;
  overflow: auto;
  border: 1px dashed var(--line);
}

:not(pre) > code {
  white-space: normal;
  padding: 0.15em 0.25em;
  border: 1px dashed var(--line);
}

a:has(> code) {
  border-bottom: none;
}

.hljs-comment,
.hljs-string {
  color: var(--code-comment);
}

.hljs-tag {
  color: var(--code-keyword);
}

.hljs-attr {
  color: var(--code-variable);
}

.hljs-punctuation {
  color: var(--code-punctuation);
}

.hljs-type,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: var(--code-keyword);
}

.hljs-property {
  color: var(--code-variable);
}

.hljs-title {
  color: var(--code-title);
}

.hljs-keyword,
.hljs-built_in {
  color: var(--code-keyword);
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-operator,
.hljs-selector-pseudo {
  color: var(--code-variable);
}
