main {
  max-width: 620px;
}

li {
  padding: 0.25em 0;
  margin: auto;
}

time {
  display: block;
  margin: 1em 0;
}

blockquote {
  border-left: 1px dashed var(--line);
  margin: 1em;
}

blockquote p {
  padding: 0 1em;
}

hr {
  border: none;
  border-bottom: 1px dashed var(--line);
  margin: 1.5em 0;
}

.thanks {
  margin: 0;
  text-align: center;
}
